body{
background-image: url(image4.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}

.deu {
    width: 50%;
    margin: 50px auto;
    border: solid rgba(192, 192, 192, 0.8);
    
    border-radius: 10px;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.8);
}

.nav-link{
    font-size: 30px;
    background-attachment: scroll;
  }

.likes-container {
    width: 50%;
    margin: 50px auto;
    border: solid rgba(192, 192, 192, 0.8);
    
    border-radius: 10px;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.8);
  
}