// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-image: url(image2.jpg);
    background-repeat: no-repeat;
}

.user-container {
    width: 40%;
    margin: 50px auto;
    border: solid rgba(192, 192, 192, 0.8);
    
    border-radius: 10px;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.8);
}
.nav-link{
    font-size: 30px;
    background-attachment: scroll;
  }

p{
    font-size: 25px;
}

.user{
    width: 25%;
    margin: left;
    border: solid rgba(192, 192, 192, 0.8);
    
    border-radius: 10px;
    text-align: left;
    background-color: rgba(192, 192, 192, 0.8);

}