body{
    background-image: url(image6.jpg);
    background-repeat: no-repeat;
}

.edit-container{
    width: 50%;
    margin: 50px auto;
    border: solid rgba(192, 192, 192, 0.8);
    
    border-radius: 10px;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.8);
}